
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: fit-content;
}
.carousel-item{
    
    padding: 20px 40px;

}
.price{
    color: brown;
}
.buy-now{
    background-image: linear-gradient(to buttom,#390d1f 0%,#6c1537 100% );

    color:#b52020;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 5px;
}


.cat1{
background-color: cadetblue;
padding: 10px 30px;
border-radius: 10px;
text-decoration: double;
}
.cat2{
    background-color: cornflowerblue;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: double;
}
.cat3{
    background-color: mediumpurple;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: double;
}
.catagories h1{
    color:aliceblue;
}

.catagories img{

    width: 110px;

}
.catagories{

    margin-top: 5%;
}
.card{
    padding-top: 5%;
    box-shadow: 5px 5px 10px;
    box-sizing: border-box;
}
.shoes{
    margin-top: 5%;
}
.backpack{

    margin-top: 5%;
}

#SUBSCRIBE{
    height:250px ;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
block-size: 5%;

}
#SUBSCRIBE p{
    text-align: center;
    color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#SUBSCRIBE h2{
    text-align: center;
    margin-bottom: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:medium;
    color: darkslategrey;
}
.submit{
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background-color:darkred;
    background-position:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    animation: both;

}
.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}